<%- include('../components/header') %>

<div class="container">
  <h1>Admin Dashboard</h1>
  <div>
    <p>Total Users: <strong><%= usersCount %></strong></p>
    <p>Total Listings: <strong><%= listingsCount %></strong></p>
    <p>Total Reviews: <strong><%= reviewsCount %></strong></p>
  </div>
</div>

